#Above-snap
{
	background-color: #c6003d;
	border:1px solid black;
	color:white;
	padding: 10px;
	display: flex;
	justify-content: space-between;


}

#snap
{
	height: 20px;
	width:100%;
	font-size:18px;
	background-color: #e40046;
	padding: 25px;
	display: flex;
	color:white;
	justify-content: space-evenly;
}
#Above-snap>:nth-child(2)
{
	display:flex;
	justify-content: space-evenly;
	margin: 1px;
}
#snap>img
{
	height: 26px;
	width:26px;
	border: 1px solid black;
}

